{{!--
    Copyright 2014-2019 Google LLC

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        https://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
--}}
<tr>
    {{#block 'details-table-name'}}
        <td {{~cssClass 'details-table-name'}}>
            <p>{{#if name}}{{name}}{{else}}{{translate 'tables.notApplicable'}}{{/if}}</p>
        </td>
    {{/block}}
    {{#block 'details-table-types'}}
        <td {{~cssClass 'details-table-types'}}>
            {{#all type type.parsedType}}
                <p>{{describeType type.parsedType 'extended'}}</p>
            {{else}}
                <p>&nbsp;</p>
            {{/all}}
        </td>
    {{/block}}
    {{#block 'details-table-optional'}}
        {{!-- TODO: make it possible to collapse this column, and do so by default --}}
        <td {{~cssClass 'details-table-optional'}}>
            {{#if optional}}
                <p>{{translate 'tables.body.isOptional'}}</p>
            {{else}}
                <p>{{translate 'tables.body.isRequired'}}</p>
            {{/if}}
        </td>
    {{/block}}
    {{#block 'details-table-description'}}
        <td {{~cssClass 'details-table-description'}}>
            {{#if description}}
                {{#markdown}}{{resolveLinks description}}{{/markdown}}
            {{/if}}
            {{#if (hasModifiers this isEnum)}}
                <p>{{modifierText this isEnum}}</p>
            {{/if}}
            {{#if children}}
                <p>{{translate 'tables.body.eachValueHasProperties' name=name}}</p>
                {{#withOnly values=children}}
                    {{#embed 'details-table'}}{{/embed}}
                {{/withOnly}}
            {{/if}}
        </td>
    {{/block}}
</tr>
