<table {{~cssClass '!jsdoc-details-table'}}>
    {{#block 'details-table-header'}}
        <thead>
            <tr>
                <th>{{translate 'tables.header.name'}}</th>
                <th>{{translate 'tables.header.type'}}</th>
                {{!--
                    TODO: make it possible to collapse this column if there are no optional values.
                    do that by default, but provide a pref to always show the column.
                --}}
                <th>{{translate 'tables.header.optional'}}</th>
                <th>{{translate 'tables.header.description'}}</th>
            </tr>
        </thead>
    {{/block}}
    {{#block 'details-table-body'}}
        <tbody>
            {{#each values}}
                {{#embed 'details-table-row'}}{{/embed}}
                {{#if children}}
                    {{#each children}}
                        {{#embed 'details-table-row'}}{{/embed}}
                    {{/each}}
                {{/if}}
            {{/each}}
        </tbody>
    {{/block}}
</table>
