{{!-- TODO: improve appearance --}}
<div {{~cssClass 'example'}}>
    {{#if example.caption}}
        {{!-- TODO: better markup for this --}}
        <p {{~cssClass 'example-caption'}}>{{example.caption}}</p>
    {{/if}}
    {{#with example}}
        <pre {{~cssClass '!prettyprint'}}><code>{{code}}</code></pre>
    {{/with}}
</div>
