{{!--
    Note that this section omits the return type for:
    + Constructors
    + Methods with no explicit return type
--}}
{{~#if (needsSignature this)~}}
    <span {{~cssClass '!signature'}}><span {{~cssClass '!signature-params'}}>{{formatParams params}}</span>
        {{~#isnt kind 'class'~}}
            {{~#if (returnTypes returns)~}}
                {{~translate 'returnTypesSeparator'~}}
                <span {{~cssClass '!signature-returns'}}> {{describeType (returnTypes returns)~}}</span>
            {{~/if~}}
        {{~/isnt~}}
    </span>
{{~else~}}
    {{~#if type~}}
        <small {{~cssClass '!property-type' 'symbol-type'~}}>
            &nbsp;{{~describeType type.parsedType~}}
        </small>
    {{~/if~}}
{{~/if~}}
