{{!--
    Copyright 2014-2019 Google LLC

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        https://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
--}}
{{!--
    Note that we omit the labels for classes, modules, and namespaces, since these labels would
    duplicate the labels for the page's main heading.
--}}
{{~#if symbol.kind~}}
    {{~#contains 'class' 'module' 'namespace' value=symbol.kind~}}
    {{~else~}}
        {{~#embed 'symbol-labels'}}{{/embed~}}
    {{~/contains~}}
{{~/if~}}
{{~#unless symbol.hideconstructor~}}
    <h id="{{id symbol}}">
        {{~#with symbol~}}
            {{~#embed 'constructor-prefix'}}{{/embed~}}
            <span {{~cssClass '!symbol-name'}}>{{name}}</span>
            {{~#embed 'signature'}}{{/embed~}}
        {{~/with~}}
    </h>
{{~/unless}}
{{#with symbol}}
    {{#unless (config 'sourceFiles.singleLink')}}
        {{#unless hideconstructor}}
            {{#embed 'source-file'}}{{/embed}}
        {{/unless}}
    {{/unless}}
    {{#unless hideconstructor}}
        {{#embed 'description'}}{{/embed}}
        {{#embed 'examples'}}{{/embed}}
        {{#embed 'params'}}{{/embed}}
        {{#embed 'properties'}}{{/embed}}
    {{/unless}}

    {{#unless hideconstructor}}
        <dl {{~cssClass '!dl-compact'}}>
            {{#embed 'details'}}{{/embed}}
        </dl>
    {{/unless}}
{{/with}}
