{{!--
    Copyright 2014-2019 Google LLC

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        https://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
--}}
{{#any docs}}
    {{#first docs}}
        {{#embed 'symbol-header'}}{{/embed}}
    {{/first}}
{{/any}}

{{#embed 'summary-blocks'}}{{/embed}}

{{#each docs}}
    {{#if @first}}
        {{!-- heading that indicates what we're about to list --}}
        {{#is pageCategory 'classes'}}
            <section>
        {{else}}
            {{#any exports}}
                <section>
                    <h>{{translateHeading 'exports' docs}}</h>
            {{/any}}
        {{/is}}
    {{/if}}

    {{!--
        If a module exports only one symbol, document the symbol in the overview, since it's not a
        member of anything else.
    --}}
    {{#is kind 'module'}}
        {{#if exports}}
            {{#each exports}}
                {{#withOnly symbol=this}}
                    <section>
                        {{#embed 'symbol-detail'}}{{/embed}}
                    </section>
                {{/withOnly}}
            {{/each}}
        {{/if}}
    {{!-- Classes also need additional information in the overview. --}}
    {{else is kind 'class'}}
        <section>
            {{#withOnly symbol=this}}
                {{#embed 'symbol-detail'}}{{/embed}}
            {{/withOnly}}
        </section>
    {{!-- Externals also need additional information in the overview. --}}
    {{else is kind 'external'}}
        <section>
            {{#with this}}
                <dl {{~cssClass '!dl-compact'}}>
                    {{#embed 'details'}}{{/embed}}
                </dl>
            {{/with}}
        </section>
    {{!-- Namespaces that are functions also need additional information in the overview. --}}
    {{else is kind 'namespace'}}
        {{#if (needsSignature this)}}
            <section>
                {{#withOnly symbol=this}}
                    {{#embed 'symbol-detail'}}{{/embed}}
                {{/withOnly}}
            </section>
        {{/if}}
    {{/is}}

    {{#if @last}}
        {{#is pageCategory 'classes'}}
            </section>
        {{else}}
            {{#any exports}}
                </section>
            {{/any}}
        {{/is}}
    {{/if}}
{{/each}}
