<header {{~cssClass '!page-header'}}>
    {{#block 'symbol-header-heading'}}
        <h>{{#isnt longname memberof}}<small>{{ancestors longname}}</small>{{/isnt~}}
            {{~name}}</h>
    {{~/block}}
    {{#block 'symbol-header-source'~}}
        {{~#embed 'source-file'}}{{/embed~}}
    {{~/block}}
    {{#block 'symbol-header-classdesc'}}
        {{#if classdesc}}
            <div {{~cssClass '!symbol-classdesc'}}>
                {{#markdown}}{{resolveLinks classdesc}}{{/markdown}}
            </div>
        {{/if}}
    {{/block}}
    {{#block 'symbol-header-description'}}
        {{#isnt kind 'class'}}
            <div {{~cssClass '!symbol-description'}}>
                {{#embed 'description'}}{{/embed}}
            </div>
        {{/isnt}}
    {{/block}}
    {{#block 'symbol-header-details'}}
        <dl {{~cssClass '!dl-compact'}}>
            {{#embed 'implements'}}{{/embed}}
            {{#embed 'implementations'}}{{/embed}}
            {{#embed 'mixes'}}{{/embed}}
        </dl>
    {{/block}}
</header>
