{{!--
    Copyright 2014-2019 Google LLC

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        https://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
--}}
<header {{~cssClass '!page-header'}}>
    {{#block 'symbol-header-heading'}}
        {{~#withOnly symbol=this~}}
            {{~#embed 'symbol-labels'}}{{/embed~}}
        {{/withOnly~}}
        <h>
            {{~#isnt longname memberof}}<small>{{ancestors longname}}</small>{{/isnt~}}
            <span {{~cssClass '!symbol-name'}}>{{name}}</span></h>
    {{~/block}}
    {{#block 'symbol-header-source'~}}
        {{~#embed 'source-file'}}{{/embed~}}
    {{~/block}}
    {{#block 'symbol-header-classdesc'}}
        {{#if classdesc}}
            <div {{~cssClass '!symbol-classdesc'}}>
                {{#markdown}}{{resolveLinks classdesc}}{{/markdown}}
            </div>
        {{/if}}
    {{/block}}
    {{#block 'symbol-header-description'}}
        {{!--
            We don't put a description here for classes, or for namespaces that are also
            functions.
        --}}
        {{#isnt kind 'class'}}
            {{#is kind 'namespace'}}
                {{#unless (needsSignature this)}}
                    <div {{~cssClass '!symbol-description'}}>
                        {{#embed 'description'}}{{/embed}}
                    </div>
                {{/unless}}
            {{else}}
                <div {{~cssClass '!symbol-description'}}>
                    {{#embed 'description'}}{{/embed}}
                </div>
            {{/is}}
        {{/isnt}}
    {{/block}}
    {{#block 'symbol-header-examples'}}
        {{#isnt kind 'class'}}
            {{#embed 'examples'}}{{/embed}}
        {{/isnt}}
    {{/block}}
    {{#block 'symbol-header-details'}}
        <dl {{~cssClass '!dl-compact'}}>
            {{#embed 'implements'}}{{/embed}}
            {{#embed 'implementations'}}{{/embed}}
            {{#embed 'mixes'}}{{/embed}}
        </dl>
    {{/block}}
    {{#block 'symbol-header-class-details'}}
        {{!--
            For classes where we're not displaying the constructor, we show the details here, above the
            summary blocks.
        --}}
        {{#if hideconstructor}}
            <dl {{~cssClass '!dl-compact'}}>
                {{#embed 'details'}}{{/embed}}
            </dl>
        {{/if}}
    {{/block}}
</header>
