<div {{~cssClass '!symbol-index'}}>
    <div {{~cssClass '!symbol-index-content'}}>
        <section>
            {{#continuedBlock}}
                {{!-- {{debug "docs: " ../docs}} --}}
                {{#balancedGroup @root.docs}}
                    {{#eachContinuedGroup}}
                        <div {{~cssClass '!symbol-index-column'}}>
                            {{#eachContinuedGroupSection}}
                                {{!--
                                    @headingText and @sectionDoclets are available within an
                                    {{#eachContinueGroupSection}} block
                                --}}
                                <h id="{{continuedId}}">{{@headingText}}</h>
                                {{#withOnly doclets=@sectionDoclets}}
                                    {{#embed 'symbol-index-section'}}{{/embed}}
                                {{/withOnly}}
                                {{#if (isContinued)}}
                                    <p {{~cssClass '!symbol-index-continued'}}>
                                        <a href="#{{continuedIdNext}}">
                                            {{~translateContinued~}}
                                        </a>
                                    </p>
                                {{/if}}
                            {{/eachContinuedGroupSection}}
                        </div>
                    {{/eachContinuedGroup}}
                {{/balancedGroup}}
            {{/continuedBlock}}
        </section>
    </div>
</div>
